/* - Create a `stylesheet.css` file and source it into the HTML file.
- Give the `header` a dark background color and choose a light  color for the text.
- Center the text in the `header`.
- Give the `main` a light grey background color.
- Look up the CSS `background-image` property to learn how to use the provided `record.png` as the background image on your page with a relative path.
- Look up CSS `background-repeat` to learn how to fill the body of the page with a repeating image.
- Look up CSS `margin` and `padding`. 
  - Give the `body` a margin of `0`. (This removes the whitespace around the edges of the page.) 
  - Give the `main` padding of `1em`. (Curious about `em`? Look up CSS units.) */

  header {
    background-color: darkolivegreen;
    color: lightblue;
    text-align: center;
  }

  main {
    background-color: lightblue;
  }
  
  /*  relative path = in the working directory */
  body{
    margin: 0;
    padding: 1em;
    /* em = ephemeral unit */
    /* em is a relative unit to its parent */
    background-image: url(record.png)
  }

  ul{
    color: red;
    font-weight: bold;
    background-color: aqua;
  }
/* By default, the image is repeated. 
The 'background-repeat' property is only used to change how/if it is repeated. */

/* __STRETCH GOAL:__ Use CSS style classes vs element 
names to do your styling, 
except for adding the margin to the `body`. 
That is a good thing to add to every CSS file, 
and it should use the `body` HTML tag name. */

/* These stretch goal styles will take precedence as they are more recent in the code. */

.header {
    background-color: blue;
    color: lightblue;
    text-align: center;
  }

.main {
    background-color: lightcoral;
  }
  
  /*  relative path = in the working directory */
/* Kept the use of the 'body' HTML tag name. */
body{
    margin: 0;
    padding: 1em;
    /* em = ephemeral unit */
    /* em is a relative unit to its parent */
    background-image: url(record.png)
  }

.ul{
    color: red;
    font-weight: bold;
    background-color: aqua;
  }